@import '~antd/dist/antd.css';

.fs-group-collapse {
    margin-bottom: 24px;
}

.fs-group-collapse .fs-group-panel {
    overflow: hidden;
}

.fs-group-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 12px 12px;
    padding-left: 36px;
    height: 38px;
}

.fs-group-collapse label {
    font-size: 12px;
}

.fs-group-collapse .ant-collapse-content {
    font-size: 12px;
}

.fs-group-collapse {
    font-size: 12px;
    border: 0px;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.fs-group-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    padding: 10px 5px 8px 0px;
}

.fs-group-collapse .ant-picker-input > input {
    font-size: 12px;
}

#rangepicker-panel .ant-collapse-content > .ant-collapse-content-box {
    padding: 12px 3px;
}

.fs-group-collapse .ant-input-number {
    width: 100%;
}

.fs-group-collapse .ant-select {
    font-size: 12px;
}

.fs-group-collapse .ant-input {
    font-size: 12px;
}

.fs-group-collapse .ant-input-number {
    font-size: 12px;
}

.ant-select-item {
    font-size: 12px;
    line-height: 18px;
}

.fs-group-collapse .ant-form-item {
    margin-bottom: 8px;
    width: 100%;
}

.fs-group-collapse .ant-form-item-label {
    padding-bottom: 4px;
}

.fs-group-collapse .ant-collapse-content > .ant-collapse-content-box {
    padding: 10px;
}

.fs-group-collapse .ant-form-item-control-input {
    min-height: 0px;
}

.fs-group-collapse .ant-slider {
    margin-top: 5px;
    margin-right: 6px;
    margin-bottom: 5px;
    margin-left: 6px;
}
