#frostedcard {
    border: none;
    border-radius: 4px;
    background: rgba(255, 245, 255, 0.2);
    backdrop-filter: blur(3px);
    /* background-color: aqua !important; */
    margin: auto;
    margin-bottom: 70px;
    width: 50%;
    min-width: 650px;
}